/* General Styling */

html {
  font-size: 62.5%;
}

a {
  color: #00001a;
}

h1 {
  color: #00001a;
  font-weight: 800;
  font-size: 5.6rem;
}

button {
  text-transform: uppercase;
  color: #fffdfa;
  background-color: #f15d51;
  border: none;
  padding: 0.8em 4.125em;
  font-weight: bold;
}

aside {
  background-color: #00001a;
  color: #c5c6ce;
}
aside h2 {
  color: #e9aa52;
  font-size: 2.5em;
}

aside h3 {
  font-size: 1.25em;
  color: #fffdfa;
}

/* Layout */

body {
  padding: 2.8rem 1.6rem;
  background-color: hsl(36, 100%, 99%);
  color: #5e607a;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  display: grid;
}

/* Navigation + Header */

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 2.5em;
}

nav {
  position: fixed;
  right: -100%;
  top: 0;
  width: 60%;
  background-color: white;
  height: 100vh;
  padding: 1.5em;
  /* padding: 4.6em; */
  transition: right 0.5s ease-in-out;
}

.close-btn {
  cursor: pointer;
  display: block;
  width: 3rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-bottom: 6.6rem;
}

.menu-btn {
  width: 3rem;
  cursor: pointer;
}

.open {
  right: 0%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 600px) {
  .menu-btn,
  .close-btn {
    display: none;
  }

  nav {
    position: unset;
    height: auto;
    background: none;
    padding: 0;
    width: auto;
  }

  ul {
    flex-direction: row;
  }
  nav a {
    color: #5e607a;
  }
}
