/* General Styling */

html {
  font-size: 62.5%;
}

a {
  color: #5e607a;
}

h1 {
  color: #00001a;
  font-weight: 800;
  font-size: 5.6rem;
}

button {
  text-transform: uppercase;
  color: #fffdfa;
  background-color: #f15d51;
  border: none;
  padding: 0.8em 4.125em;
  font-weight: bold;
}

aside {
  background-color: #00001a;
  color: #c5c6ce;
}
aside h2 {
  color: #e9aa52;
  font-size: 2.5em;
}

aside h3 {
  font-size: 1.25em;
  color: #fffdfa;
}

/* Layout */

body {
  padding: 6em 1.1em;
  background-color: hsl(36, 100%, 99%);
  color: #5e607a;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 2.5em;
}

/*  */
